body {
    font-family: Arial, sans-serif;
    font-size: 19px;
    margin: 0;
    color: #262626;
}
.header a {
    color: black;
    text-decoration: none;
}

.header a:hover {
    color: black;
    text-decoration: none;
}

.node_row_item{
    margin: 5px;
}

.form {
    margin-left: 20px;
    margin-right: 20px;
    width: 420px;
    min-width: 420px;
}

.wrap {
    margin-left: auto;
    margin-right: auto;

    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
}

.content {
    display: flex;
    flex-flow: nowrap;
    justify-content: space-evenly;
}

.content_graph {
    display: flex;
    flex-flow: nowrap;
    justify-content: space-evenly;
}

.tabs{
    margin-left: 20px;
    margin-right: 20px;
    min-width: 200px;
    width: 420px;
    max-height: 700px;
}

.header h1 {
    text-align: center;
    margin-top: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.required label {
    font-weight: bold;
}

.example {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}

.example p {
    text-align: justify;
}

.left {
    width: 820px;
    min-width: 820px;
}

.right {
    width: 380px;
    min-width: 380px;
}

.tabs_graph{
    margin-left: 20px;
    /*margin-right: 20px;
    min-width: 380px;
    width: 380px;*/
}

.left_header {
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
}

.left_header legend {
    width: 78%;
}

.left_header ul {

}

#link-container {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 40px;
}

#link-container h3{
    margin: 0px;
    font-size: 21px;
    line-height: 40px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    margin-left: 15px;
    min-width: 24px;
    text-align: center;
}

#link-container{
    margin-left: 0;
    min-width: 180px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

#link-container a{
    color: white;
    text-decoration: none;
}

.graph {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.graph svg {
    max-width: 88vw;
    max-height: 88vw;
}

#path {
    max-height: 82vh;
}

#path table {
    font-size: 11.6px;
}

#usage {
    max-height: 82vh;
}

#usage table {
    font-size: 11.6px;
}


/*
text-transform: uppercase;
*/

@media (max-width: 1230px) {
    .content_graph {
        flex-flow: wrap;
    }

    .left {
        width: 100%;
        min-width: unset;
        /*
        width: 80vw;
        min-width: unset;
        */
    }

    .right {
        width: 100%;
        min-width: unset;
        max-width: unset;
    }

    #tabs_graph {
        width: unset;
        min-width: unset;
        margin-left: unset;
    }
}

@media (max-width: 766px) {
    .content {
        flex-flow: wrap;
    }

    .content .form {
        width: 80vw;
        min-width: unset;
    }

    .content .tabs {
        width: 80vw;
        min-width: unset;
    }

    .tabs_graph{
        width: 80vw;
        min-width: unset;
    }

    .form #add_nodes_path {
        width: 100%
    }
}

/*-------------------------------------*/

#tabs_div {
    margin: 14px;
}

.path_node_item{
    display: flex;
    flex-flow: wrap;

}

.path_node_item select{
    margin-left: 10px;
    margin-right: 10px;
}

.path_node_item input {
    margin-left: 10px;
    margin-right: 10px;
}

.path_node_item button {
    margin-left: 10px;
    margin-right: 10px;
}


#add_nodes_path{
    width: 200%;
    display: block;
}

.tabs {
    min-width: 200px;
    width: 50%;
    max-height: 650px;
    margin: 0;
}

#main_form{
    margin: 10px;
}

#file_upload{
    margin: 10px;
}


.form {
    width: 50%;
    margin: 0;
}

.sumbit_btn {
    margin: 10px;
}

.part_1 {
    margin-top: 10px;
}

.part_2 {
    margin-top: 10px;
}

.bootstrap-table .fixed-table-container{
    position: unset;
    clear: unset;
    border: 0;
    border-radius: unset;
    -webkit-border-radius: unset;
    -moz-border-radius: unset;
}

.bootstrap-table .fixed-table-container tbody td{
    border: 0;
}

.bootstrap-table .fixed-table-container tbody tr{
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-bottom: 1px solid #ddd;
}
.bootstrap-table .fixed-table-container thead th {
    border-left: 0;
}

.red {
    background-color: #ff7569
}

#usage_table_sorted .red {
    background-color: #ff7569
}

#usage_table_sorted tr:hover > td, tbody tr:hover > th {
    background-color: unset;
}

#usage .fixed-table-body {
    overflow-x: unset;
    overflow-y: unset;
}

#output_table_sorted .red {
    background-color: #ff7569
}

#output_table_sorted tr:hover > td, tbody tr:hover > th {
    background-color: unset;
}

#path .fixed-table-body {
    overflow-x: unset;
    overflow-y: unset;
}

/*------------------------------------------*/

#multiple_sim_add {
    width: 200%;
    display: block;
}

#dynamic_field_multiple_sim {
    display: flex;
    flex-flow: wrap;
}

#dynamic_field_multiple_sim input {
    margin: 10px;
    width: unset;
}

#add_multiple_sim {
    margin: auto;
    margin-left: inherit;
}

.sumbit_btn_multiple_sim {
    margin: 10px;
}

.border_bottom {
    border-bottom: 1px solid #e5e5e5;
    padding-top: 10px;
    padding-bottom: 10px;
}