# Project exclude paths
/venv
/torps
/php
/app_data
/nginx/Dockerfile
/docker-compose-github.yml
/docker-compose-old.yml
/www/html/torps/
/www/html/test/
/www/html/graph/
/www/html/error.log
/nginx/.htpasswd
