body {
    font-family: Arial, sans-serif;
    margin: 0;
    color: #262626;
}
.header a {
    color: black;
    text-decoration: none;
}

.header a:hover {
    color: black;
    text-decoration: none;
}

.wrap {
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
}

.wrap_header {
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid black;
    padding-top: 20px;

}

.content {
    display: flex;
    flex-flow: nowrap;
    justify-content: space-evenly;
}

.content_graph {
    display: flex;
    flex-flow: wrap;
}

.tabs{
    margin-left: 20px;
    margin-right: 20px;
    min-width: 200px;
    width: 420px;
    max-height: 700px;
}

.header h1 {
    text-align: center;
    margin-top: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.required label {
    font-weight: bold;
}

.example {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
}

.example p {
    text-align: justify;
}

.left {
    width: 70%;
}

.right {
    width: 30%;
}

.tabs_graph{
    margin-left: 20px;
}

.left_header {
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
    margin: 3px;
}

.left_header legend {
    width: 78%;
    margin: 0;
    border-bottom: 1px solid #dee2e6;
}

.left_header ul {

}

#link-container {

    font-size: 21px;
    line-height: 40px;
    margin: 0;
}
#link-container button {
    margin-right: 5px;
    margin-left: 5px;
}

#link-container h3{
    margin: 0px;
    font-size: 21px;
    line-height: 40px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    margin-left: 15px;
    min-width: 24px;
    text-align: center;
}

#link-container{
    margin-left: 0;
    min-width: 180px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

#link-container a{
    color: white;
    text-decoration: none;
}

.graph {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.graph svg {
    max-width: 88vw;
    max-height: 88vw;
}

pre {
    font-size: 13px;
    width: auto;
    overflow: auto;
}

#path table {
    font-size: 11.6px;
}

#usage table {
    font-size: 11.6px;
}

#tabs_div {
    margin: 14px;
}


#form_tabs_div {
    margin: 14px 0;
}

.form {
    width: 50%;
    margin: 0;
    margin-right: 20px;
}

/*
text-transform: uppercase;
*/

@media (max-width: 1230px) {
    .content_graph {
        flex-flow: wrap;
    }

    .left {
        width: 100%;
        min-width: unset;
    }

    .right {
        width: 100%;
        min-width: unset;
        max-width: unset;
    }

    #tabs_graph {
        width: unset;
        min-width: unset;
        margin-left: unset;
    }
}

@media (max-width: 766px) {
    .content {
        flex-flow: wrap;
    }

    .content .form {
        width: 80vw;
        min-width: unset;
    }

    .content .tabs {
        width: 80vw;
        min-width: unset;
    }

    .tabs_graph{
        width: 80vw;
        min-width: unset;
    }

    .form #add_nodes_path {
        width: 100%
    }

    .form #multiple_sim_add {
        width: 100%;
    }

    #tabs_div {
        margin: 0px;
        margin-top: 20px;
    }

    .form{
        margin: 0px;
    }
}

/*-------------------------------------*/


#add_nodes_path{
    width: 200%;
    display: block;
}

.tabs {
    min-width: 200px;
    width: 50%;
    max-height: 650px;
    margin: 0;
}

.bootstrap-table .fixed-table-container{
    position: unset;
    clear: unset;
    border: 0;
    border-radius: unset;
    -webkit-border-radius: unset;
    -moz-border-radius: unset;
}

.right .table-bordered td, .right .table-bordered th {
    border: 0;
}

.bootstrap-table .fixed-table-container tbody tr{
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-bottom: 1px solid #ddd;
}
.bootstrap-table .fixed-table-container thead th {
    border-left: 0;
}

.red {
    background-color: #ff7569
}

#usage_table_sorted .red {
    background-color: #ff7569
}

#usage_table_sorted tr:hover > td, tbody tr:hover > th {
    background-color: unset;
}

#output_table_sorted .red {
    background-color: #ff7569
}

#output_table_sorted tr:hover > td, tbody tr:hover > th {
    background-color: unset;
}

/*------------------------------------------*/

#multiple_sim_add {
    width: 200%;
    display: block;
}

#add_multiple_sim {
    margin: auto;
    margin-left: inherit;
}

.border_bottom {
    border-bottom: 1px solid #e5e5e5;
    padding-top: 10px;
    padding-bottom: 10px;
}

/** Bootstrap 4 **/

.right .form-control {
    height: unset;
}

#output_table_sorted, #usage_table_sorted{
    border: unset;
}

.right .bootstrap-table .fixed-table-container.fixed-height:not(.has-footer) {
    border-bottom: unset;
}

.fixed-table-border {
    display: none;
}

.fixed-table-body {
    max-height: 66vh;
}

#statistic .fixed-table-body  {
    max-height: unset;
}

#my_tab {
    margin-top: 1px;
}

#add_nodes_path .form-row {
    margin-top: 10px;
}

.custom-file{
    margin-right: 10px;
}

/* UNUSED */
/*
.node_row_item{
    margin: 5px;
}

.part_1 {
    margin-top: 10px;
}

.part_2 {
    margin-top: 10px;
}
*/

/* Statistic table */

#statistic_table {
    margin-top: 10px;
    display: flex;
    flex-flow: nowrap;
}

#statistic_table thead tr,#statistic_table tbody tr{
    display: inline-grid;
}

#statistic_table th, #statistic_table td{
    border: 1px solid #dee2e6;
}

#statistic_table tbody tr {
    border-bottom: 0px;
}

.pagination-detail {
    display: none;
}

#statistic_table .table-bordered td, .right .table-bordered th {
    border: inherit;
}

#statistic_table .th-inner, #statistic_table td{
    padding: 0.30rem;
    font-size: 14px;
}

.example p {
    margin-bottom: 5px;
}
